@import '../../../index.scss';

div.tutorial-content {
  background-color: $text-04;
}

div.tutorial-content p, div.tutorial-content h1, div.tutorial-content h2,
div.tutorial-content h3, div.tutorial-content th, div.tutorial-content td {
  color: $ui-01;
}

div.tutorial-content img {
  border: 1px solid $inverse-02;
  margin-bottom: 3rem;
}

div.tutorial-content ul {
  color: $ui-01;
  list-style: square;
  @include carbon--type-style('body-long-02');
  padding-left: 2rem;
}

div.tutorial-content img {
  max-width: 100%;
}

div.tutorial-content table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

div.tutorial-content th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}

div.tutorial-content code {
  background: #d8d8d8;
  padding:6px
}

div.tutorial-content p {
  margin-bottom: 20px;
  margin-top: 20px;
}

div.dark-breadcrumbs a.bx--link:visited {
  color: $interactive-01;
}

div.dark-breadcrumbs a.bx--link {
  color: $interactive-01;
}

div.dark-breadcrumbs .bx--breadcrumb-item::after {
  color: $ui-background;
}