@import "../../../index.scss";

div.overview-page__banner {
  background-image: url("../img/overview.jpeg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}