@import "../../../index.scss";

div.landing-page__banner {
  background-image: url("../img/cp4d-backgound.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}

h2.landing-page__heading {
  padding-top: $spacing-07 * 2;
  padding-bottom: $spacing-01;
  color: $text-04;
  line-height: 1em;
  @include carbon--type-style('productive-heading-07');
}