@import "../../../index.scss";

div.landing-page__banner {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% auto;
}

h2.landing-page__heading {
  padding-top: $spacing-07 * 7;
  padding-bottom: $spacing-05;
  color: $text-04;
  @include carbon--type-style('productive-heading-07');
}