@import "../index.scss";

main.bx--content {
  background: #161616;
}

h2.content-page__heading {
  padding-top: $spacing-07 * 2;
  padding-bottom: $spacing-01;
  color: $text-04;
  @include carbon--type-style('productive-heading-07');
}

p {
  @include carbon--type-style('body-long-02');
}

a.bx--tile--clickable p {
  color: $text-04;
}

a.bx--tile--clickable h4 {
  color: $interactive-04;
}

a.bx--tile--clickable:visited hr {
  color: $text-04;
}

a.bx--tile--clickable svg {
  margin: auto;
  display: block;
  color: $interactive-04;
}