@import "../../../index.scss";

div.getting-started-page__banner {
  background-image: url("../img/getting_started.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}